.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Generated Artifacts
revshell.c
revshell.dylib
scan_report.md
payload.dylib
payload.c

# Xcode
*.xcodeproj
